@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --primary-color: rgb(30, 57, 30);
  --primary-color-darker: rgb(8, 12, 6);
  --container-color: #222121;
  --white-color: #ffffff;
  --light-gray-color: #c0c0c0;
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  background-position-x: center;
  background-position-y: center;
  background-position: static;
  background-size: 100%;
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: var(--container-color);
  padding: 30px;
  border-radius: 10px;
  color: var(--white-color);
}

.envio-tarefa * {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.tarefa{
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn-tarefa:focus {
  outline: 1px solid var(--primary-color);
}

.btn-tarefa{
  border: none;
  background: rgb(40, 130, 52);
  color: var(--white-color);
  font-size: 18px;
  font-weight: 700;
  height: 40px;
  cursor: pointer;
  margin-top: 40px;
}

.btn-tarefa:hover {
  background: rgb(30, 98, 39);
}

.titulo-lista {
  text-align: center;
  margin-bottom: 50px;
}

.div-lista {
  margin-bottom: 50px;
}

.lista-tarefas li {
  font-size: 25px;
  color: #ffffff;
  padding: 20px;
  align-items: baseline;
  max-width: 560px;
  font-family: 'Montserrat', sans-serif;
}

.checked-button, .delete-button {
  height: 40px;
  margin-left: 10px;
  color: var(--white-color);
  border: none;
  width: 40px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Roboto';
  border-radius: 100%;
  
}

.checked-button {
  background-color: rgb(75, 188, 90);
  margin-left: 20px;
}

.delete-button{
  background-color: rgb(197, 48, 48);
  
}

.checado {
  color:  rgb(75, 188, 90)!important;
  text-decoration: line-through!important;
} 

/* CSS Landing Page */

.menu{
    position: fixed; /*perde o status de bloco e fixa ele no topo*/
    top: 0; /*pra ele nao descer caso outro elemento seja mexido?*/
    left: 0;
    right: 0;
    width: 100%;
    align-items: center;
    z-index: 1; /*faz com que o menu nao seja ultrapassado por outros elementos*/
    height: 60px;
    border-bottom: 0.1rem solid var(--light-gray-color);
    justify-content: center;
    background-color: var(--white-color);
}
.menu-content{
    display: flex; /*solta parte do menu*/
    justify-content: space-between; /*coloca um espaco entre os conteudos*/
    padding-top: 0;
    padding-bottom: 0;
    height: 60px;
    align-items: center;
}
.menu ul{
    list-style: none; /*tira as bolinhas da ul*/
    display: flex; /*solta*/                                   
}
.menu ul li a{
    display: block; /*bota o txt lado a lado*/
    padding: 2rem;
    color: var(--primary-color);
    font-size: 1.2rem;
    position: relative;
    text-decoration: none;
}
.menu h1{
    font-size: 1.7rem;
    color: var(--primary-color);
    padding: 2rem;
}
.menu h1 a {
    color: inherit; /*faz com que o elemento herde a cor de seu "pai"*/
}

/*inicio*/
.menu ul li a::after{
    content: '';
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 0;
    height: 0.1rem;
    background: var(--primary-color);
    transition: all 400ms ease-in-out;
}
.menu ul li a:hover::after{
    width: 50%;
    left: 25%;
}
/*tudo daqui pra cima foi pra botar efeitinho no menu*/